:root {

     /* Primary */

    --Button-Aquamarine: hsl(158, 36%, 37%);
    --Background-Cream: hsl(30, 38%, 92%);
    
    /* Neutral */
    --Paragraph-Aurometal: hsl(228, 12%, 48%);
    --H1-Gunmetal: hsl(212, 21%, 14%);
    --White: hsl(0, 0%, 100%);

    /* Typography */
    /* Body Copy */
    
    
    /* Font */
}    


 /* Remove default contnet box styling*/

 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .contentbox-box-element {
    box-sizing: content-box;
  }

  
*   {
    margin: 0;
    padding: 0;
    
   }


   body {
    width: 100%;
    height: 100vh;
    background-color: var(--Background-Cream);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    

   }

    /* show 100% width of the box and it's contents*/
   main {width: 100%;}
   

 /* show everything in the box*/
   .card {
    min-width: 600px;
    width: 30%;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    background-color: var(--White);
    /* to center it use autio margin, 0 = top and bottom margin
    and auto places it in the middle of the viewport.*/
    
    
    

    /* curved edges*/
    
   }
   .cardleft {
    width: 50%;
    background-image: url(/images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-color: brown;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    
}
    
    .cardright {
        width: 50%;
        display: flex;


